#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=cn --xlayouts='cn'
# System language
lang zh_CN.UTF-8

# Network information
network  --bootproto=static --device=ens32 --gateway=192.168.200.2 --ip=192.168.200.100 --netmask=255.255.255.0 --noipv6 --activate
network  --hostname=centos

# Root password
rootpw --iscrypted $6$GUcYP/zkUu28M9Kp$xwiFZls4Z.5/qmGXaHZ7qju5uwSOXQs9YnTfDx5xh5h58SrkXx7LqnawYdxDHGmtHSMjx4yvoTatEf0gP3x4G/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=16383
part swap --fstype="swap" --ondisk=sda --size=4096

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
